<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Pedro Martin Valera</title>
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="{{css}}">
    <link rel="alternate" type="application/rss+xml" title="Pedro Martin Valera RSS Feed" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="Pedro Martin Valera Atom Feed" href="/atom.xml" />
    {{jsonLd}}
</head>
<body>
    <div class="site">
        <my-header></my-header>
        <main id="content">
            {{content}}
        </main>
        <my-footer></my-footer>
    </div>
    <script type="module" src="{{js}}"></script>
</body>
</html>
