@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
:root {
  --size-sm: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  --size-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --size-lg: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  --size-xl: clamp(2rem, 1.4rem + 2vw, 3rem);
  --size-xxl: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  --space-sm-md: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  --space-md-lg: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  --space-lg-xl: clamp(3rem, 1.8rem + 4vw, 5rem);
  --site-gutter: clamp(16px, -76.4px + 19.25vw, 170px);
  --site-offset: 0px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

article,
aside,
code,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
iframe {
  border: 0;
  width: 100%;
}
img,
video {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
[type='button'],
a,
button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  touch-action: manipulation;
}
[type='button'],
button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  padding: 0;
}
label[for] {
  cursor: pointer;
}
.no-list,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input {
  font: inherit;
}
legend {
  display: table;
}
fieldset {
  border: 0;
  min-width: 0;
}
textarea {
  resize: vertical;
}
[type='date'],
[type='email'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='url'],
select,
textarea {
  background: #fff;
  border: 1px solid #e5e5e5;
  border: var(--input-border, 1px solid #e5e5e5);
  border-radius: 0;
  box-shadow: none;
  font: inherit;
  padding: 0.5em;
  width: auto;
  width: var(--input-width, auto);
}
select {
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87 2.4a.46.46 0 0 0-.65 0L5 6.63.77 2.4a.45.45 0 0 0-.64.65l4.55 4.54c.17.18.46.18.64 0l4.55-4.54a.45.45 0 0 0 0-.65Z'/%3E%3C/svg%3E");
  background-position: calc(100% - 0.5em) 50%;
  background-repeat: no-repeat;
}
[type='checkbox'],
[type='radio'] {
  font-size: 1.25em;
  height: 1em;
  margin: 0 0.5em 0 0;
  vertical-align: -0.12em;
  width: 1em;
}
:disabled {
  opacity: 0.5;
}
:focus + label,
:focus:not(iframe) {
  outline: 3px solid currentColor;
  outline-offset: 3px;
}
body {
  font-family: Inter, sans-serif;
  font-size: clamp(1.125rem, 1.05rem + 0.25vw, 1.25rem);
  line-height: 1.5;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.3em;
}
h1 {
  font-size: clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem);
  font-size: var(--size-xxl);
  letter-spacing: -0.02em;
  margin-bottom: 0.6em;
}
h1 + .meta {
  margin-bottom: calc(clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem) * 0.6);
  margin-bottom: calc(var(--size-xxl) * 0.6);
  margin-top: calc(clamp(2.5rem, 0.925rem + 5.25vw, 5.125rem) * -0.3);
  margin-top: calc(var(--size-xxl) * -0.3);
}
h2 {
  font-size: clamp(2rem, 1.4rem + 2vw, 3rem);
  font-size: var(--size-xl);
  letter-spacing: -0.01em;
}
h3 {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  font-size: var(--size-lg);
}
h4,
h5,
h6 {
  font-size: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  font-size: var(--size-md);
  font-weight: 500;
  line-height: 1.2;
}
li,
p {
  letter-spacing: 0.02em;
}
ol,
p,
ul {
  margin-bottom: 1em;
}
p img {
  display: block;
  margin: 1.5em 0;
  width: 100%;
}
ol {
  padding-left: 1.125em;
}
ul {
  padding-left: 1em;
}
.unlist {
  list-style: none;
  padding-left: 0;
}
.meta,
a,
strong {
  font-weight: 600;
}
a {
  color: #00599f;
  color: var(--link-color, #00599f);
}
a:hover {
  text-decoration: none;
}
hr {
  border: 0;
  border-top: 1px solid #e5e5e5;
}
blockquote,
h1 ~ p:first-of-type:not(blockquote + p) {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  font-size: var(--size-lg);
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
h1 ~ p:first-of-type:not(blockquote + p) {
  margin-bottom: clamp(3rem, 1.8rem + 4vw, 5rem);
  margin-bottom: var(--space-lg-xl);
}
blockquote {
  --content-wrap: 27ch;
  margin: 1.5em 0;
}
blockquote:before {
  content: '“';
  margin-left: -0.5em;
  position: absolute;
}
blockquote > :last-child:after {
  content: '”';
}
body {
  background: #e5e5e5;
  color: #000;
}

.wrapper {
  background: #fff;
  margin: 0 auto auto;
  max-width: 80rem;
  padding: 1px clamp(16px, -76.4px + 19.25vw, 170px);
  padding: 1px var(--site-gutter);
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > * {
  margin: clamp(3rem, 1.8rem + 4vw, 5rem) 0;
  margin: var(--space-lg-xl) 0;
}
main > :last-child[data-block-flush] {
  margin-bottom: 0;
}

.branding svg {
  display: block;
  height: auto;
  width: 100%;
}
.header {
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
  padding: 5% 0 4%;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header .branding {
  margin-right: auto;
  max-width: 15.5rem;
  min-width: 105px;
  width: 33.3333333333%;
}
.header .branding ~ * {
  margin-left: 1em;
}
.footer {
  border-top: 1px solid #e5e5e5;
  font-size: clamp(1rem, 0.85rem + 0.5vw, 1.25rem);
}
.footer .branding {
  display: block;
  margin: 2em 0;
  width: 10.625em;
}
.footer hr ~ * {
  font-size: 1rem;
  margin: clamp(1rem, 0.475rem + 1.75vw, 1.875rem) 0;
  text-align: left;
}
.footer-email {
  font-size: 1.2em;
  margin: 1em 0;
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-sections > * + * {
  font-size: 1rem;
}
.navigation {
  display: none;
}
.has-nav .navigation,
.js-loading .navigation:target {
  display: block;
}
.navigation-menu {
  border-bottom: 1px solid #e5e5e5;
}
.navigation-menu li.is-active > a {
  font-weight: 600;
  text-decoration: underline;
}
.navigation-menu li.is-cart {
  display: none;
}
.navigation-menu > li + li {
  border-top: 1px solid #e5e5e5;
}
.navigation-menu > li > a {
  align-items: flex-start;
  display: flex;
  font-size: 1.25em;
  justify-content: space-between;
  padding: 0.4em 0;
}
.navigation-menu > li > a > [data-menu-icon] {
  flex: 0 0 auto;
  height: auto;
  margin-top: 0.5em;
}
.navigation-menu > li > a.is-open > [data-menu-icon] {
  transform: rotate(-90deg);
}
.navigation-menu ul {
  display: none;
  padding-bottom: 0.75em;
}
.navigation-menu li.is-open ul,
.navigation-menu li[focus-within] ul {
  display: block;
}
.navigation-menu li:focus-within ul {
  display: block;
}
.navigation-menu ul li {
  margin: 0.3em 0;
}
.cart {
  --content-wrap: none;
}
.cart p {
  margin: 1.5em 0;
}
.cart table {
  font-size: 1rem;
  margin: 0;
}
.cart tfoot {
  white-space: nowrap;
}
.cart [data-cart-price] {
  width: 1%;
}
.cart [data-cart-qty] .cart-qty {
  flex-wrap: wrap;
  justify-content: center;
  min-width: 6em;
}
.cart-qty {
  align-items: center;
  display: inline-flex;
  margin-left: -0.75em;
  text-align: center;
}
.cart-qty a {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
}
.cart-qty > span {
  width: 2ch;
}
.cart-qty [data-icon] {
  vertical-align: sub;
}
.cart-qty [data-cart-action] {
  margin: 0 0.5em;
}
.cart-qty [data-cart-action] span {
  display: inline-block;
  font-size: 1.25em;
  margin: -0.5em 0;
  width: 1em;
}
.heading {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0.3em;
  padding-bottom: 0.3em;
}
.heading + * {
  margin-top: 0;
}
h2.heading ~ h3.heading,
h2.heading ~ h4.heading,
h2.heading ~ h5.heading,
h2.heading ~ h6.heading {
  border-bottom: 0;
  padding-bottom: 0;
}
.content > * {
  max-width: 43rem;
  max-width: var(--content-wrap, 43rem);
}
.sidebar {
  margin: clamp(1.5rem, 0.6rem + 3vw, 3rem) 0;
  margin: var(--space-md-lg) 0;
}
.field {
  --input-width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;
}
.field.sr-only {
  visibility: hidden;
}
.field.has-error {
  --input-border: 3px solid #da3140;
}
.field[data-field-description='above'] .field-description {
  order: -1;
}
.field > * + * {
  margin: 0.2em 0 0;
}
.field br {
  display: none;
}
.field-label {
  font-weight: 600;
  order: -2;
}
.field-description,
.field-error,
[data-field-choices] {
  font-size: 1rem;
}
.field-error {
  color: #da3140;
  font-weight: 500;
}
[data-field-choices] > * {
  margin: 0.75em 0 0;
}
[data-field-choices='inline'] {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}
[data-field-choices='inline'] > * {
  margin-right: 1em;
}
.input-file {
  border: 1px solid #000;
  border: var(--input-border, 1px solid #000);
  display: flex;
}
.input-file span {
  background: #e5e5e5;
  padding: 0.5em 0.75em;
  white-space: nowrap;
}
.input-file span[data-js-input-value] {
  background: #fff;
  white-space: normal;
}
.input-file span[data-js-input-value]:empty,
.no-js [data-js-input] .input-file {
  display: none;
}
.has-js [data-js-input] input {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
}
.btn {
  background: #000;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  max-width: 100%;
  min-width: min(12.5em, 100%);
  padding: 0.75em 1em 0.875em;
  text-align: center;
  text-decoration: underline;
  transition: 0.3s;
  transition-property: background, border, color;
}
.btn:hover {
  background: transparent;
  border-color: inherit;
  color: inherit;
  text-decoration: none;
}
.btn-sm {
  min-width: min(8em, 100%);
}
.has-btn {
  text-align: center;
}
.card {
  --link-color: currentColor;
  background: #00599f;
  color: #fff;
  margin: 1.5em 0;
  padding: 5%;
}
.card p {
  letter-spacing: -0.02em;
}
.card strong {
  font-weight: 500;
}
.card .media img {
  width: 100%;
}
.card .title {
  font-size: clamp(2rem, 1.4rem + 2vw, 3rem);
  font-size: var(--size-xl);
  letter-spacing: -0.01em;
}
.card .subtitle {
  font-size: 1.25em;
}
.card .meta {
  font-size: 1.5em;
  margin-top: 1em;
}
.cards .card:nth-child(3n + 2) {
  background: #e5e5e5;
  color: inherit;
}
.cards .card:nth-child(3n + 3) {
  background: #fff;
  border: 1px solid #939393;
  color: inherit;
}
.logos {
  --spacing-x: clamp(16px, -4.4px + 4.25vw, 50px);
  --spacing-y: clamp(20px, 8px + 2.5vw, 40px);
  display: flex;
  flex-wrap: wrap;
}
.logos > * {
  display: block;
  height: 2.4rem;
  margin: 1.6em 5%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 40%;
}
.logos > :not(:hover) {
  filter: saturate(0) brightness(75%) contrast(200%);
}
.embed {
  --content-wrap: 100%;
  margin: 2em 0;
}
.embed.has-ratio {
  position: relative;
}
.embed.has-ratio:before {
  content: ' ';
  display: block;
  padding-bottom: 56.25%;
  padding-bottom: calc(100% / (var(--ratio, 16/9)));
}
.embed.has-ratio iframe,
.embed.has-ratio img {
  height: 100% !important;
  left: 0;
  max-height: none;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100% !important;
}
table {
  border-collapse: collapse;
  margin: 2em 0;
  table-layout: auto;
  width: 100%;
}
td,
th {
  border-bottom: 2px solid;
  font-weight: inherit;
  padding: 1em 0.5em;
  text-align: left;
  vertical-align: top;
}
td > :last-child,
th > :last-child {
  margin: 0;
}
tbody:first-child > tr:first-child > * {
  padding-top: 0;
}
tfoot,
thead {
  font-weight: 700;
}
thead {
  background: #e5e5e5;
}
thead td,
thead th {
  border: 0;
}
.entry {
  margin: clamp(1.5rem, 0.6rem + 3vw, 3rem) 0;
  margin: var(--space-md-lg) 0;
  padding-top: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  padding-top: var(--space-md-lg);
}
.entry,
.pagination {
  border-top: 1px solid #e5e5e5;
}
.pagination {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pagination,
.pagination > * {
  margin-top: 3rem;
}
.pagination > [data-prev],
.pagination > [rel='prev'] {
  margin-right: auto;
}
.pagination > [data-next] {
  text-align: right;
}
.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.1px;
}
.box {
  --link-color: currentColor;
  background: #e0f0fa;
  padding: 4% 3%;
}
.box > :first-child,
.hug > :first-child {
  margin-top: 0;
}
.box > :last-child,
.hug > :last-child {
  margin-bottom: 0;
}
.drop-shadow,
p img {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
}
.no-border {
  border: 0;
}
.mask-link,
.mask-links a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.mask-link:hover,
.mask-links a:hover {
  text-decoration: underline;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.font-normal {
  font-weight: 400;
}
.font-medium-bold {
  font-weight: 500;
}
.font-bold {
  font-weight: 600;
}
.font-extra-bold {
  font-weight: 700;
}
.size-3\/4 {
  font-size: 0.75em;
}
.size-sm {
  font-size: clamp(1rem, 0.925rem + 0.25vw, 1.125rem);
  font-size: var(--size-sm);
}
.size-md {
  font-size: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  font-size: var(--size-md);
  line-height: 1.3;
}
.size-lg {
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
  font-size: var(--size-lg);
  line-height: 1.2;
}
.size-xl {
  font-size: clamp(2rem, 1.4rem + 2vw, 3rem);
  font-size: var(--size-xl);
  line-height: 1.2;
}
.size-xxl {
  font-size: var(--size-xx);
  line-height: 1.1;
}
.space-sm-md,
.space-sm-md-t {
  margin-top: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  margin-top: var(--space-sm-md);
}
.space-sm-md,
.space-sm-md-b {
  margin-bottom: clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
  margin-bottom: var(--space-sm-md);
}
.space-md-lg,
.space-md-lg-t {
  margin-top: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  margin-top: var(--space-md-lg);
}
.space-md-lg,
.space-md-lg-b {
  margin-bottom: clamp(1.5rem, 0.6rem + 3vw, 3rem);
  margin-bottom: var(--space-md-lg);
}
.space-lg-xl,
.space-lg-xl-t {
  margin-top: clamp(3rem, 1.8rem + 4vw, 5rem);
  margin-top: var(--space-lg-xl);
}
.space-lg-xl,
.space-lg-xl-b {
  margin-bottom: clamp(3rem, 1.8rem + 4vw, 5rem);
  margin-bottom: var(--space-lg-xl);
}
[data-icon] {
  height: 1em;
  vertical-align: middle;
  width: auto;
}
[data-icon='sm'] {
  height: 0.75em;
}
[data-icon='md'] {
  height: 1.25em;
}
[aria-busy='true'] {
  position: relative;
}
[aria-busy='true']:before {
  background: #fff;
  content: ' ';
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
[aria-busy='true']:after {
  animation: spin 1s infinite;
  border: 0.5em solid;
  border-radius: 100%;
  border-right: 0.5em solid transparent;
  content: ' ';
  height: 3em;
  left: calc(50% - 1.5em);
  position: absolute;
  top: calc(50% - 1.5em);
  width: 3em;
  z-index: 1;
}
@media (min-width: 30em) {
  .footer-sections {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-sections > * {
    margin-right: 1em;
  }
  .footer-sections > :first-child {
    flex-grow: 3;
  }
  .footer-sections > :nth-child(2) {
    flex-grow: 2;
  }
  .footer-sections > :nth-child(3) {
    flex-grow: 1;
  }
}
@media (min-width: 37.5em) {
  .cart table {
    font-size: 1em;
  }
  .card {
    font-size: 1.15em;
    line-height: 1.3;
  }
  .card.has-media {
    padding: 7% 5%;
  }
  .card.has-media:after {
    clear: right;
    content: ' ';
    display: table;
  }
  .card .media {
    float: right;
    margin-bottom: 1em;
    margin-left: 5%;
    width: 40%;
  }
  .card .media + * {
    margin-top: 0;
  }
  .logos {
    margin-right: -2.5em;
  }
  .logos > * {
    margin: 1.6em 2.5em 1.6em 0;
    width: auto;
  }
}
@media (min-width: 45em) {
  .cart [data-cart-qty] {
    white-space: nowrap;
    width: 20%;
  }
  .cart [data-cart-qty] .cart-qty {
    flex-wrap: nowrap;
    min-width: auto;
  }
  .sidebar {
    float: right;
    margin: 0 calc(clamp(16px, -76.4px + 19.25vw, 170px) * -1 / 3) 0
      clamp(1.25rem, 1.1rem + 0.5vw, 1.5rem);
    margin: 0 calc(var(--site-gutter) * -1 / 3) 0 var(--space-sm-md);
    width: 17.5rem;
  }
  .sidebar.box {
    margin-top: -4%;
  }
  .fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .fields > * {
    width: calc(100% - 0.5em);
    width: calc(var(--field-width, 100) * 1% - 0.5em);
  }
  .fields > [data-field-width='100'] {
    width: 100%;
  }
}
@media (min-width: 48em) {
  .header {
    padding: 2em 0 1.1em;
  }
  .header .branding ~ * {
    display: none;
  }
  .footer .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .footer-navigation {
    flex-direction: row;
  }
  .footer-navigation > * + * {
    margin-left: 1em;
  }
  .navigation {
    display: block;
    position: relative;
    z-index: 1000;
  }
  .navigation-menu > li + li {
    border-top: 0;
  }
  .navigation-menu {
    align-items: center;
    border-bottom: 0;
    display: flex;
    font-size: 1rem;
  }
  .navigation-menu > li + li {
    margin-left: 1em;
  }
  .navigation-menu > li:nth-last-child(2) {
    margin-left: auto;
  }
  .navigation-menu > li > a {
    font-size: 1em;
    padding: 0.75em 0;
  }
  .navigation-menu > li > a > [data-menu-icon] {
    margin-left: 0.5em;
  }
  .navigation-menu li.is-cart {
    display: block;
  }
  .navigation-menu li.is-cart > a {
    padding: 0;
  }
  .navigation-menu ul {
    background: #fff;
    border: 1px solid;
    box-shadow: -2px 4px 10px 0 rgba(0, 0, 0, 0.2);
    margin-left: -1em;
    min-width: 15em;
    padding: 0.5em 1em;
    position: absolute;
  }
  .navigation-menu li:hover ul {
    display: block;
  }
}
@media (min-width: 70em) {
  .footer .copyright {
    display: inline-block;
    width: auto;
  }
  .footer-navigation {
    float: right;
    justify-content: flex-end;
  }
  .pagination {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1280px) {
  :root {
    --site-offset: clamp(1px, -311px + 24.375vw, 40px);
  }
}
@media (min-width: 80em) {
  .sidebar {
    position: sticky;
    top: clamp(1.5rem, 0.6rem + 3vw, 3rem);
    top: var(--space-md-lg);
  }
}
@media (max-width: 29.999em) {
  .footer-navigation a,
  .footer-sections a {
    display: inline-block;
    margin-bottom: 0.5em;
  }
}
