* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

picture {
  display: block;
}

img,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

main {
  flex: 1 auto;
}
